<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<meta content="zh-cn" http-equiv="Content-language" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>中点通推广网盟</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="__PUBLIC__/css/style.css" rel="stylesheet">

		<script src="__PUBLIC__/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>

		<style type="text/css">
			.row-fluid .span6 { }
		</style>
		
		
	</head>

	<body>
		
		
		
		
		
		<div class="container">
			<a href="#"><img style="position: absolute; z-index: 9999; top: 20px; width: 180px; height: 50px;" src="__PUBLIC__/image/yqkwm_logo.png"/></a>
		</div>
		
		<div id="myCarousel" class="carousel slide" style="margin-bottom: 0;">
				
	      <div class="carousel-inner">
	      	
	        
	       
	        
	        <div class="item active">
	          
	          <img src="__PUBLIC__/image/bnbg.jpg" alt=""  class="img-responsive" >
	          <div class="container">
	            <div class="carousel-caption">
	            	
	              <!--登陆后PC端显示-->
	              <p class="hidden-phone" style="position: absolute; z-index: 99999; top: 20px; right: 20px;">
					  <span><?php echo $_SESSION['adminUser']['username']?></span>
					  <?php if($_SESSION['adminUser']['username']) { ?>
					  			<a href="{:U('/home/login/loginout')}" style="margin-left: 10px;">退出</a>
					  <?php } ?>
		          </p>
		          
	              <h1>强强联盟 优势互联</h1>
	              <p class="lead">全国网络小说网络联盟</p>
	              <p class="lead">一种内容、多元版权、同步营销</p>

					<?php if(!$_SESSION['adminUser']['username']) { ?>
	               <a class="btn btn-large btn-primary" href="{:U('/home/register')}" >我要加盟</a>
	              <a class="btn btn-large" href="{:U('/home/login')}" style="margin-left: 20px; background:fixed; text-shadow: none; border: solid 1px rgba(0,0,0,.5); background-color: rgba(0,0,0,.6); color: #fff;" >登录</a>
					<?php } ?>

					<?php if($_SESSION['adminUser']['username']) { ?>
					<a class="btn btn-large btn-primary" href="{:U('/home/usermenu')}" >进入后台</a>
					<?php } ?>
	              
	              
	              
	              <!--登陆后移动端显示
				  <p class="visible-phone" style="margin-top: 20px; font-size: 14px;">
		                <span>用户名长的话怎么办</span> <a href="#" style="margin-left: 10px;">退出</a>
		          </p>
		          -->
	            </div>
	          </div>
	        </div>
	      </div>
	      
	      
	    </div>
		
		
		<div class="navbar navbar-inverse navbar-fixed-top" style="position: static;">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="{:U('/home/index')}">中点通推广网盟</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="active"><a href="{:U('/home/index')}">介绍</a></li>
	              <li><a href="{:U('/home/index/about')}">关于我们</a></li>
	              <li><a href="{:U('/home/index/contact')}">联系我们</a></li>
	              
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
		
		<!--PC端显示-->
		<div class="container hidden-phone" style="margin-top: 30px;">
			<h2>介绍</h2>
	      
		    <hr>
		    
		    
		    <div class="zyfl">
		    	<h4>转发，就可以将您的热情转化为收益。</h4>
		    	<div class="zfl">
		    		<p>“中点通推广网盟”是我们推出的一款免费产品，通过在您的微信公众号上转载精选言情小说，既让您的粉丝喜爱，又让您轻松获利。</p>
				  	<p>千万言情小说迷的选择：<br>从琼瑶，到唐七公子、九君、拈花惹笑，从懵懂中学生，到家庭主妇、退休女工，言情小说在中国拥有数亿爱好者，中点通小说网问世半年多，就已经拥有千万言情迷，迄今，言情迷们的数量仍不断爆发。</p>
				  	<p>适合您的内容：<br>所有推广的言情小说都具有独家版权，并都经过编辑精心选择，确保内容质量上乘且与您的内容或受众群体相关。我们会为您推荐时下热门新鲜的言情小说，让您的读者永不乏味。</p>
		    	</div>
		    	<div class="yfl">
		    		<p>一切由您掌控：您可以选择更适合您公众号的小说，自定义位置、频度和书评。</p>
					<p>零投入，转发就可获得收益：<br>我们为您度身定制渠道号，您甚至可通过您的渠道号发展下线，扩散分发，可以叠加收益，坐享其成。</p>
					<p>透明收入，立即提现：<br>每天通过您的公众号产生的收益，您可以一目了然，轻松获利。</p>
					<p>“不负如来不负卿”，中点通只传播精品，好小说，我们喜爱，读者喜爱，您也喜爱。</p>
		    	</div>
		    </div>
		    <hr>
		</div>
		
		
		
		
		
		
		<!--移动端显示-->
		<div class="container visible-phone" style="margin-top: 30px;">

	      <h2>介绍</h2>
	      
		  <hr>
		  <h4>转发，就可以将您的热情转化为收益。</h4>
	    </div>
		
		<div class="container visible-phone" style="margin-top: 10px;">
			<div class="row-fluid marketing">
		        <div class="span6">
		          
			      <p>“中点通推广网盟”是我们推出的一款免费产品，通过在您的微信公众号上转载精选言情小说，既让您的粉丝喜爱，又让您轻松获利。</p>
				  <p>千万言情小说迷的选择：从琼瑶，到唐七公子、九君、拈花惹笑，从懵懂中学生，到家庭主妇、退休女工，言情小说在中国拥有数亿爱好者，中点通小说网问世半年多，就已经拥有千万言情迷，迄今，言情迷们的数量仍不断爆发。</p>
				  <p>适合您的内容：所有推广的言情小说都具有独家版权，并都经过编辑精心选择，确保内容质量上乘且与您的内容或受众群体相关。我们会为您推荐时下热门新鲜的言情小说，让您的读者永不乏味。</p>
				  <p></p>
				  
		        </div>
				
		        <div class="span6">
		          
		            <p>一切由您掌控：您可以选择更适合您公众号的小说，自定义位置、频度和书评。</p>
					<p>0投入，转发就可获得收益：我们为您度身定制渠道号，您甚至可通过您的渠道号发展下线，扩散分发，可以叠加收益，坐享其成。</p>
					<p>透明收入，立即提现：每天通过您的公众号产生的收益，您可以一目了然，轻松获利。</p>
					<p>“不负如来不负卿”，中点通只传播精品，好小说，我们喜爱，读者喜爱，您也喜爱。</p>
		        </div>
		    </div>
		    <hr>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		<div class="container" style="margin-top: 10px;">
			
			<footer>
	        	<p style="text-align: center;">© 2017 江苏中点通文化传媒有限公司</p>
	        </footer>
		</div>
		
		

	</body>

</html>