<include file="Usermenu/nav" />
			    
			    <div class="span10" style="margin-top: 20px;">
			      <!--主体内容-->
			        <div class="pc_rt">
			        	<div class="page-header">
				          <h3>我的账户</h3>
				        </div>
				        <p class="lead">基本信息</p>
						<dl class="dl-horizontal">
							<dt class="text-info">用户名：</dt>
							<dd>{$user.username}</dd>

							<dt class="text-info">UID：</dt>
							<dd>{$user.user_id}</dd>

							<dt class="text-info">微信公众号ID：</dt>
							<dd>{$user.public_name}</dd>

							<dt class="text-info">渠道号：</dt>
							<dd>{$user.c_number}</dd>
						</dl>
			        
			        	<hr>

						<p class="lead">提现账号信息</p>

						<!--点击绑定按钮显示-->
						<dl class="dl-horizontal">
							<!--<dt class="text-info">公司（企业）名称：</dt>
                            <dd><input type="text" placeholder="输入您的公司名称" style="margin-bottom: 0; display: block;" name="company_name"></dd>-->

							<dt class="text-info">单位名称：</dt>
							<dd><input type="text" placeholder="如：阿里巴巴网络科技有限公司" style="margin-bottom: 0; display: block;" name="company_name" value="{$user.company_name}"></dd>
							<dt class="text-info">开户行：</dt>
							<dd><input type="text" placeholder="如：中国工商银行" style="margin-bottom: 0; display: block;" name="bank" value="{$user.bank}"></dd>
							<dt class="text-info">银行账号：</dt>
							<dd><input type="text" placeholder="输入单位对公银行账号" style="margin-bottom: 0; display: block;" name="bank_account" value="{$user.bank_account}"></dd>
							<dt class="text-info">公司营业执照：</dt>

							<dd>
								<if condition="$user.business neq is_null()" >
									<img style="display: block" id="upload_org_code_img_hide" src="{$user.business}" style="width: 10%;height: 10%">

								</if>

								<img style="display: none" id="upload_org_code_img" src="" style="width: 10%;height: 10%">

								<input id="file_upload"  type="file" multiple="true" >

								<input id="file_upload_image" name="business" type="hidden" multiple="true" value="{$user.business}"></dd>

							<dt class="text-info">银行开户许可证：</dt>
							<dd>

								<if condition="$user.certificate neq is_null()" >
									<img style="display: block" id="upload_org_code_img_hide2" src="{$user.certificate}" style="width: 10%;height: 10%">

								</if>
								<img style="display: none" id="upload_org_code_img2" src="" style="width: 10%;height: 10%">

								<input id="file_upload2"  type="file" multiple="true" >

								<input id="file_upload_image2" name="certificate" type="hidden" multiple="true" value="{$user.certificate}"></dd>

							<dd><p><small>以上信息将提交审核，审核通过后方可进行提现操作，请您如实填写！</small></p></dd>


							<button class="btn btn-large btn-primary" type="button" style="margin: auto; display: block; margin-top: 40px; max-width: 320px; width: 100%;" onclick="modify_account.check()">保存</button>
						</dl>
						</if>

			    	</div>
			    </div>
			  </div>
			</div>
		</div>
		
		
		
		<div class="container" style="margin-top: 10px;">
			<hr>
			<footer>
	        	<p style="text-align: center;">© 2017 江苏中点通文化传媒有限公司 <a href="#" style="margin-left: 20px;">联系客服</a></p>
	        </footer>
		</div>
	</body>

</html>